<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost:3306/student_diary?serverTimezone=UTC</property>

		<property name="connection.username">root</property>
		<property name="connection.password">root</property>

		<property name="connection.pool_size">10</property>

		<property name="hbm2ddl.auto">update</property>

		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">true</property>

		<property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
		
		<mapping class="DAL.entity.User"/>
		<mapping class="DAL.entity.Class"/>
		<mapping class="DAL.entity.Subject"/>
		<mapping class="DAL.entity.Work"/>
		<mapping class="DAL.entity.Mark"/>
		
	</session-factory>
</hibernate-configuration>